<div class="column">
  <div class="column-header">
    <h3>{{ title }}</h3>
    @if (userStories.length > 0) {
    <p>{{ userStories.length }}</p>
    }
  </div>

  <div
    cdkDropList
    [id]="listId"
    [cdkDropListData]="userStories"
    [cdkDropListConnectedTo]="connectedTo"
    (cdkDropListDropped)="drop($event)"
    class="user-story-list"
  >
    @for (userStory of userStories; track userStory.id; let idx = $index) {

    <app-user-story [userStory]="userStory" [index]="idx" CdkDrag></app-user-story>

    }
  </div>
</div>
