.column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-400);
  padding: 8px;
  height: 100%;
  width: 200px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-story-list {
  flex: 1;
}
