.user-story {
  padding: 2px 12px;
  margin: 4px 0;
  background-color: white;

  border: 2px solid transparent;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    border-color: var(--primary-color);
  }
}

.user-story-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
