.user-story {
  padding: 2px 12px;
  margin: 4px 0;
  background-color: white;

  border-radius: 4px;

  &:hover {
    cursor: grab;
  }
}

.user-story-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
